.contact-options {
    margin-left: 1rem;
}

.title {
    padding-left: 1rem;
    background-color: #0D6EFD !important;
    color: #FFF;
    font-weight: bold;
}

.icon {
    margin-right: 0.5rem;
}

.contact-btn {
    text-decoration: none !important;
}