.profilePic {
  height: 15rem;
  width: 15rem;
  float: left;
  margin-right: 1rem;
  margin-bottom: 1rem;
}

.profileInfo {
  padding-top: 1.5rem;
  padding-left: 1.5rem;
  line-height: 0.5rem;
  font-size: 1rem;
}

.username {
  font-weight: bold;
  font-size: large;
  margin-top: 1rem;
}

@media screen and (max-width: 1140px) {
  .profileInfo {
    font-size: medium;
    margin-left: 1rem;
    padding: 0;
  }
  .username {
    font-size: medium;
  }
  .profilePic {
    height: 11rem;
    width: 11rem;
  }
}

@media screen and (max-width: 500px) {
  .profilePic {
    height: 10rem;
    width: 10rem;
  }
}

@media screen and (max-width: 350px) {
  .profileInfo {
    font-size: small;
    margin-left: 0.5rem;
    line-height: 0.25rem;
    padding: 0;
  }
  .username {
    font-size: medium;
  }
  .profilePic {
    height: 8rem;
    width: 8rem;
  }
}
